.react-datepicker__input-container input::placeholder {
  color: #6c757d; /* Change the placeholder text color */
  font-style: italic; /* Add italic style */
  font-size: 14px; /* Adjust the font size */
  opacity: 1; /* Ensure the placeholder is fully visible */
}
