* {
  margin: 0;
  padding: 0;
}
.home-page {
  display: flex;
  flex-direction: column;
  gap: 120px;
  margin: 0 60px;
}
.sign-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
}
.sign-page-intercept {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
