.media-button {
  padding: 10px;
  border: 1px solid #605dec;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.media-button button {
  display: inline-block;
  width: 100%;
  background: none;
  border: none;
  font-size: 16px;
  color: #605dec;
}

.media-button:hover {
  background-color: #f7f7f7;
}
